@page "/names-advanced"

@using Client.Pages.Randomizer.Form
@using Client.Pages.Randomizer.Card

<PageTitle>Advanced I</PageTitle>

<h3>Randomize Names Advanced</h3>

<div class="container">
    <div class="row my-5">
        <div class="col-md-9">
            @if (_viewModel.Randomizees.Count > 1)
            {
                <div class="text-center">
                    <button class="btn btn-primary btn-lg col-md-3" @onclick="PickRandomName">Randomize</button>
                </div>

                <NameCard Name="@_selectedRandomizee?.Name"
                      Description="@_selectedRandomizee?.Description"
                      ImageUrl="@_selectedRandomizee?.ImageUrl"
                      HideDelete="true"
                      AnimationType="@NameCardAnimationType.BorderFlash"
                      @ref="_randomNameCard"
                      />

                <audio src="/Resources/Audio/tada.mp4" @ref="_audioElement"></audio>    
            }

        </div>
    </div>
    <div class="row mt-5">
        @*<div class="col-md-2"></div>*@
        <div class="col-md-4">
            <NameForm OnAddNameClick="AddName" 
                      RandomizeeData="_randomizee" 
                      @ref="_nameForm"/>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            @foreach(var randomizee in _viewModel.Randomizees)
            {
                <NameCard Name="@randomizee.Name" 
                          Description="@randomizee.Description" 
                          ImageUrl="@randomizee.ImageUrl" 
                          OnDeleteButtonClick="@(x => DeleteName(randomizee.Id))"/>
            }
        </div>
    </div>
</div>

